@import url('../../fonts.css');

body {
    font-family: 'Montserrat', sans-serif;
}

.trendsHeader {
    max-width: 407px;
    text-align: center;
    margin: 0 auto 16px;
    padding-bottom: 16px;
    border-bottom: solid 4px #29B200;
}

.trendsRecipeTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trendsImage:hover {
    filter: brightness(70%);
}

.trendsSeeMoreRow {
    margin: 30px auto;
    text-align: center;
}

.trendsSeeMoreButton {
    background: #29B200;
    zoom: 1.5;
}
