@charset "UTF-8";
@import url('../../fonts.css');

.recipes-route {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.recipes-route h2{
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 16px;
    margin: 0 auto 16px;
    max-width: 320px;
    border-bottom: solid 4px #29B200;
}

.foundRecipe{
    margin-top: 16px;
    text-align: center;
}

.foundRecipe-image{
    border-radius: 20px;
}
