@charset "UTF-8";
@import url('../../fonts.css');


.loading-component {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.loading-component-spinner {
    margin: 0 auto;
}